In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.DataFrame({'num': [281120, 123456, 281343, 256231], 'stnum':  ['281120','123456', '281343', '256231']})

In [7]:
df.head()

      num   stnum
0  281120  281120
1  123456  123456
2  281343  281343
3  256231  256231

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   num     4 non-null      int64
 1   stnum   4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [20]:
def check_prefix(num):
    if num[:3] != '281':
        return 0
    return 1

In [21]:
df['has_prefix'] = df['stnum'].apply(lambda num: check_prefix(num))

In [22]:
df.head()

      num   stnum  has_prefix
0  281120  281120           1
1  123456  123456           0
2  281343  281343           1
3  256231  256231           0

-------