Question:

I have a csv file with like 100k+ lines of data that I need to make a correction on. There is a column with data (site locations) that is supposed to only go from 1-10, but our tech messed up and we have 1-20. What I want to do is have a python script to go over each line and if it finds that datapoint is 11-20 simply subtract 10. I have the following code and was using pandas to try the replacement, but it is not saving the changes to the dataframe.

`for site in df["Site"]:
    if Site > 10:
        df["Site"].apply(lambda x: x-10)`

-------

My Approach:

- you don't really need to loop explicitly as using apply function will loop automatically for that dataframe.
- and you can put conditions insides lambda function.

In [1]:
import numpy as np
import pandas as pd

In [2]:
site = np.arange(8,15,1)

In [3]:
df = pd.DataFrame({'Site':site})

In [4]:
df.head()

   Site
0     8
1     9
2    10
3    11
4    12

In [6]:
df['Site']

0     8
1     9
2    10
3    11
4    12
5    13
6    14
Name: Site, dtype: int32

In [19]:
df['Site'] = df['Site'].apply(lambda site: site-10 if site > 10 else site)

In [20]:
df

   Site
0     8
1     9
2    10
3     1
4     2
5     3
6     4