# Pandas Join

In [1]:
import numpy as np
import pandas as pd

In [25]:
u_want = {'id' : [1, 2, 3], 'name' : ['John', 'Mary', 'Jack'], 'gender' : ['male', 'female', 'male']}
u_want_df = pd.DataFrame(data = u_want)
u_want_df.head()

   id  name  gender
0   1  John    male
1   2  Mary  female
2   3  Jack    male

------

# my approach

In [56]:
my_dict = {'male': ['Jack', 'John', 'Bob'], 'female': ['Jane', 'Mary', 'Carolina']}

In [57]:
my_dict_df = pd.DataFrame(data=my_dict)
my_dict_df.head()

   male    female
0  Jack      Jane
1  John      Mary
2   Bob  Carolina

In [66]:
# realign the columns for joining later
male_dict_df = my_dict_df[['male']]
male_dict_df = male_dict_df.rename(columns={'male':'name'})
male_dict_df['gender'] = 'male'
male_dict_df.head()

# make the same for female gender rows
female_dict_df = my_dict_df[['female']]
female_dict_df = female_dict_df.rename(columns={'female':'name'})
female_dict_df['gender'] = 'female'

# combine them together
new_dict_df = male_dict_df.append(female_dict_df)
new_dict_df.head()

   name  gender
0  Jack    male
1  John    male
2   Bob    male
0  Jane  female
1  Mary  female

In [62]:
my_data = {'id' : [1, 2, 3], 'name' : ['John', 'Mary', 'Jack']}
my_dataframe = pd.DataFrame(data = my_data)
my_dataframe.head()

   id  name
0   1  John
1   2  Mary
2   3  Jack

In [67]:
# merge with key
my_dataframe.merge(new_dict_df, how='left', on='name')

   id  name  gender
0   1  John    male
1   2  Mary  female
2   3  Jack    male

---------