#### Question

someone know how to convert dataframe from cryptodatadowlnoad (http://www.cryptodatadownload.com/data/binance/) from one column to this columns 9 : 'unix', 'date', 'symbol', 'open', 'high', 'low', 'close', 'Volume BTC', 'Volume USDT' . 

I tried 
`df_e = pd.read_csv("data/Binance_BTCUSDT_1h.csv'") 
df_e.columns = df_e.iloc[0]
df_e.drop(df_e.index[[0, 1]], inplace=True)
df_e.head()`


 as mentioned here (https://medium.com/analytics-vidhya/predicting-ethereum-eth-prices-with-rnn-lstm-in-keras-tensorflow-9ae2709de270) but with no luck.

## My approach

In [1]:
import pandas as pd
import numpy as np

In [10]:
# skip first row due to avoid reading unecessary line

df = pd.read_csv('data/Binance_TRXUSDT_1h.csv', skiprows=[0])

In [11]:
df.head()

,unix,date,symbol,open,high,low,close,Volume TRX,Volume USDT,tradecount
0,1610928000000,2021-01-18 00:00:00,TRX/USDT,0.03020,0.03036,0.03016,0.03024,13160553.9,3.982460e+05,876
1,1610924400000,2021-01-17 23:00:00,TRX/USDT,0.03022,0.03042,0.03007,0.03020,44610070.6,1.350445e+06,2873
2,1610920800000,2021-01-17 22:00:00,TRX/USDT,0.03054,0.03056,0.03010,0.03023,88077522.3,2.671918e+06,4799
3,1610917200000,2021-01-17 21:00:00,TRX/USDT,0.03034,0.03058,0.03030,0.03055,39922248.4,1.216361e+06,2897
4,1610913600000,2021-01-17 20:00:00,TRX/USDT,0.03010,0.03050,0.03008,0.03034,62138739.7,1.883496e+06,3636

In [12]:
df.head(1)

,unix,date,symbol,open,high,low,close,Volume TRX,Volume USDT,tradecount
0,1610928000000,2021-01-18 00:00:00,TRX/USDT,0.0302,0.03036,0.03016,0.03024,13160553.9,398245.978492,876

In [13]:
df.columns

Index(['unix', 'date', 'symbol', 'open', 'high', 'low', 'close', 'Volume TRX',
       'Volume USDT', 'tradecount'],
      dtype='object')