<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Data Types

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/planets.csv')

In [3]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [5]:
df.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [6]:
df['number'][0] / df['mass'][0]

0.14084507042253522

### Change data type

In [9]:
df['number'][0].astype(float) #int to float

1.0

In [10]:
df['mass'][0].astype(int) #float to int , lose decimal points

7

In [13]:
df['year'][0].astype('str')

'2006'

### Converting Date Object
+ `pd.to_datetime()`

In [14]:
df['year_dt'] = pd.to_datetime(df['year'], format='%Y')

In [15]:
df.head()

            method  number  orbital_period   mass  distance  year    year_dt
0  Radial Velocity       1         269.300   7.10     77.40  2006 2006-01-01
1  Radial Velocity       1         874.774   2.21     56.95  2008 2008-01-01
2  Radial Velocity       1         763.000   2.60     19.84  2011 2011-01-01
3  Radial Velocity       1         326.030  19.40    110.62  2007 2007-01-01
4  Radial Velocity       1         516.220  10.50    119.47  2009 2009-01-01

In [16]:
df['year_dt']

0      2006-01-01
1      2008-01-01
2      2011-01-01
3      2007-01-01
4      2009-01-01
          ...
1030   2006-01-01
1031   2007-01-01
1032   2007-01-01
1033   2008-01-01
1034   2008-01-01
Name: year_dt, Length: 1035, dtype: datetime64[ns]