<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Working with dates

In [61]:
import pandas as pd

## Generate series of dates with `period_range`

+ we can see 4 dates are created with 30 days frequency (leaping 30 days to 30 days)

In [62]:
daterange = pd.period_range(start='1/1/2021', freq='30d', periods=4) # 30 days gap for 4 blocks

In [63]:
date_df = pd.DataFrame(data=daterange, columns=['sample date'])
date_df

  sample date
0  2021-01-01
1  2021-01-31
2  2021-03-02
3  2021-04-01

-----

## Date difference from prior date using `diff`

In [64]:
date_df['date_difference'] = date_df['sample date'].diff(periods=1) # what is the number of days difference between each block?

In [65]:
date_df

  sample date date_difference
0  2021-01-01             NaT
1  2021-01-31     <30 * Days>
2  2021-03-02     <30 * Days>
3  2021-04-01     <30 * Days>

In [66]:
date_df['date_difference'] = date_df['sample date'].diff(2)
date_df

  sample date date_difference
0  2021-01-01             NaT
1  2021-01-31             NaT
2  2021-03-02     <60 * Days>
3  2021-04-01     <60 * Days>

In [67]:
date_df['date_difference'] = date_df['sample date'].diff(3)
date_df

  sample date date_difference
0  2021-01-01             NaT
1  2021-01-31             NaT
2  2021-03-02             NaT
3  2021-04-01     <90 * Days>

------

## Find the first day of the month

In [68]:
date_df.dtypes

sample date        period[30D]
date_difference         object
dtype: object

**converting to datetime 64 as Month**

In [69]:
date_df['first of the month'] = date_df['sample date'].values.astype('datetime64[M]')

In [70]:
date_df

  sample date date_difference first of the month
0  2021-01-01             NaT         2021-01-01
1  2021-01-31             NaT         2021-01-01
2  2021-03-02             NaT         2021-03-01
3  2021-04-01     <90 * Days>         2021-04-01

-------

## Date types

In [71]:
date_df.dtypes

sample date              period[30D]
date_difference               object
first of the month    datetime64[ns]
dtype: object

## Converting to timestamp

In [72]:
date_df['sample date'] = date_df['sample date'].dt.to_timestamp()

In [73]:
date_df.dtypes

sample date           datetime64[ns]
date_difference               object
first of the month    datetime64[ns]
dtype: object

--------

## Date Subtraction

In [74]:
date_df

  sample date date_difference first of the month
0  2021-01-01             NaT         2021-01-01
1  2021-01-31             NaT         2021-01-01
2  2021-03-02             NaT         2021-03-01
3  2021-04-01     <90 * Days>         2021-04-01

In [75]:
date_df['sample date'] - date_df['first of the month']

0    0 days
1   30 days
2    1 days
3    0 days
dtype: timedelta64[ns]

In [76]:
date_df['sample date'] - date_df['date_difference']

C:\Users\Phone Thiri Yadana\.conda\envs\venv-datascience\lib\site-packages\pandas\core\arrays\datetimelike.py:1342: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized
  warnings.warn(

0          NaT
1          NaT
2          NaT
3   2021-01-01
dtype: datetime64[ns]

-------

### we can use time span `Timedelta` and can use it to add or subtract to time data
+ https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timedelta.html

Possible values:

+ ‘W’, ‘D’, ‘T’, ‘S’, ‘L’, ‘U’, or ‘N’
+ ‘days’ or ‘day’
+ ‘hours’, ‘hour’, ‘hr’, or ‘h’
+ ‘minutes’, ‘minute’, ‘min’, or ‘m’
+ ‘seconds’, ‘second’, or ‘sec’
+ ‘milliseconds’, ‘millisecond’, ‘millis’, or ‘milli’
+ ‘microseconds’, ‘microsecond’, ‘micros’, or ‘micro’
+ ‘nanoseconds’, ‘nanosecond’, ‘nanos’, ‘nano’, or ‘ns’.`

In [77]:
date_df['sample date'] - pd.Timedelta('30 d') # subtract 30 days

0   2020-12-02
1   2021-01-01
2   2021-01-31
3   2021-03-02
Name: sample date, dtype: datetime64[ns]

In [78]:
date_df['sample date'] + pd.Timedelta('5 y') # add 5 years

0   2026-01-01 05:06:00
1   2026-01-31 05:06:00
2   2026-03-02 05:06:00
3   2026-04-01 05:06:00
Name: sample date, dtype: datetime64[ns]

------

## More datetime properties with `dt`

In [79]:
date_df['sample date'].dt.day_name()

0      Friday
1      Sunday
2     Tuesday
3    Thursday
Name: sample date, dtype: object