# Scikit-Learn (sklearn)

In [1]:
what_we_cover =[
    "0. An End to End Scikit learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator / algorithm for our problems",
    "3. Fit the model / algorithm and use it to make predictions on our data",
    "4. Evaluate the model",
    "5. Improve the model",
    "6. Save and load the trained model",
    "7. Putting it all together"
]

# 1. Getting our Data ready to be used with machine learning

Three main things we have to do:
1. Split the data into features and labels (usually `X` and `y`)
2. Filling (also called imputting) or disgreading missing values
3. Converting non-numerical values into numerical values (also called features encoding)

In [2]:
# Standard Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
heart_disease = pd.read_csv("../00.datasets/heart-diseases.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X = heart_disease.drop("target", axis = 1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [5]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [6]:
# Split the data into Training and Test Sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                                            y, 
                                                                            test_size = 0.2)

In [7]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [8]:
X.shape, y.shape

((303, 13), (303,))

## 1.1. Make sure it's all numerical

As computer can't process categorical data types, we need to convert them into numerical data types.

Because heart disease data set, all columns are already in numeircal data types.
So we will practice with car sales dataset

### practice using car sales dataset

In [14]:
car_sales = pd.read_csv("../00.datasets/car-sales-extended.csv")
car_sales.head(2)

    Make Colour  Odometer (KM)  Doors  Price
0  Honda  White          35431      4  15323
1    BMW   Blue         192714      5  19943

In [15]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   int64
 3   Doors          1000 non-null   int64
 4   Price          1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

We will try to predict `Price` of car sales data sets based on available features.

In [22]:
# Split into X, y
X = car_sales.drop("Price", axis = 1)
y = car_sales["Price"]

# Split into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [24]:
# Build machine learning model
# because we are trying to predict  a number for "Price", we will use Regressor
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Toyota'