In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv("data/weather_m4.csv")
df

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0,10.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0,23.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0,51.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,20161231,20,35,NaN,10265,98,11.0,8.0,1.0,0.0,0.0,0.0,0.0,20.0
8780,20161231,21,34,NaN,10258,98,9.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8781,20161231,22,30,NaN,10253,98,9.0,9.0,1.0,1.0,0.0,0.0,0.0,33.0
8782,20161231,23,28,NaN,10246,98,6.0,9.0,1.0,1.0,0.0,0.0,0.0,34.0
8783,20161231,24,28,26.0,10239,98,2.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YYYYMMDD         8784 non-null   int64
 1   TIME             8784 non-null   int64
 2   TEMP             8784 non-null   int64
 3   MIN_TEMP_GROUND  1464 non-null   float64
 4   PRESSURE         8784 non-null   int64
 5   HUMIDITY         8784 non-null   int64
 6   VIEW_RANGE       8743 non-null   float64
 7   CLOUD            8743 non-null   float64
 8   MIST             8741 non-null   float64
 9   RAIN             8741 non-null   float64
 10  SNOW             8741 non-null   float64
 11  THUNDER          8741 non-null   float64
 12  ICE              8741 non-null   float64
 13  WEATHER_CODE     3862 non-null   float64
dtypes: float64(9), int64(5)
memory usage: 960.9 KB

# Detecting and Inspecting Missing Values

In [4]:
df[["MIN_TEMP_GROUND", "VIEW_RANGE", "MIST", "WEATHER_CODE"]].head(15)

    MIN_TEMP_GROUND  VIEW_RANGE  MIST  WEATHER_CODE
0               NaN        56.0   0.0          10.0
1               NaN        57.0   0.0          10.0
2               NaN        56.0   0.0          23.0
3               NaN        57.0   0.0          51.0
4               NaN        56.0   0.0          22.0
5               3.0         9.0   1.0          34.0
6               NaN         5.0   1.0          34.0
7               NaN         1.0   1.0          34.0
8               NaN         2.0   1.0          32.0
9               NaN         5.0   1.0          32.0
10              NaN        64.0   1.0          20.0
11            -17.0        70.0   0.0           2.0
12              NaN        69.0   0.0           NaN
13              NaN        67.0   0.0           NaN
14              NaN        50.0   0.0          10.0

In [5]:
df.isnull()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8780,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8781,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8782,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8783,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().any()

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND     True
PRESSURE           False
HUMIDITY           False
VIEW_RANGE          True
CLOUD               True
MIST                True
RAIN                True
SNOW                True
THUNDER             True
ICE                 True
WEATHER_CODE        True
dtype: bool

In [7]:
df[df.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0,10.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0,23.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0,51.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8778,20161231,19,35,NaN,10271,98,7.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8779,20161231,20,35,NaN,10265,98,11.0,8.0,1.0,0.0,0.0,0.0,0.0,20.0
8780,20161231,21,34,NaN,10258,98,9.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8781,20161231,22,30,NaN,10253,98,9.0,9.0,1.0,1.0,0.0,0.0,0.0,33.0
8782,20161231,23,28,NaN,10246,98,6.0,9.0,1.0,1.0,0.0,0.0,0.0,34.0

In [8]:
# rows with all null values
df[df.isnull().all(axis=1)]

Empty DataFrame
Columns: [YYYYMMDD, TIME, TEMP, MIN_TEMP_GROUND, PRESSURE, HUMIDITY, VIEW_RANGE, CLOUD, MIST, RAIN, SNOW, THUNDER, ICE, WEATHER_CODE]
Index: []

In [9]:
df.notnull().all()

YYYYMMDD            True
TIME                True
TEMP                True
MIN_TEMP_GROUND    False
PRESSURE            True
HUMIDITY            True
VIEW_RANGE         False
CLOUD              False
MIST               False
RAIN               False
SNOW               False
THUNDER            False
ICE                False
WEATHER_CODE       False
dtype: bool

In [10]:
every_6th_row = pd.Series(range(5, len(df), 6))

In [11]:
every_6th_row

0          5
1         11
2         17
3         23
4         29
        ...
1459    8759
1460    8765
1461    8771
1462    8777
1463    8783
Length: 1464, dtype: int64

In [12]:
# getting values from every 6th row
df["MIN_TEMP_GROUND"][every_6th_row]

5        3.0
11     -17.0
17      47.0
23      47.0
29      48.0
        ...
8759    32.0
8765    29.0
8771    29.0
8777    37.0
8783    26.0
Name: MIN_TEMP_GROUND, Length: 1464, dtype: float64

In [13]:
# double check whether every 6th row has data by ensuring not null
# 1)
df["MIN_TEMP_GROUND"][every_6th_row].notnull().all()

True

In [14]:
# double check other remaining rows (excpet for every 6th row)
# 2)
df["MIN_TEMP_GROUND"].drop(every_6th_row).isnull().all()

True

In [15]:
# Rewriting the same logic as above two lines using loc
# 1) 
df.loc[every_6th_row, "MIN_TEMP_GROUND"].notnull().all()

True

In [16]:
# 2)
df.drop(df.index[every_6th_row]).index

Int64Index([   0,    1,    2,    3,    4,    6,    7,    8,    9,   10,
            ...
            8772, 8773, 8774, 8775, 8776, 8778, 8779, 8780, 8781, 8782],
           dtype='int64', length=7320)

In [17]:
df.loc[df.drop(df.index[every_6th_row]).index, "MIN_TEMP_GROUND"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
8778   NaN
8779   NaN
8780   NaN
8781   NaN
8782   NaN
Name: MIN_TEMP_GROUND, Length: 7320, dtype: float64

# Handling missing data

In [18]:
df.drop(columns="WEATHER_CODE")

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,20161231,20,35,NaN,10265,98,11.0,8.0,1.0,0.0,0.0,0.0,0.0
8780,20161231,21,34,NaN,10258,98,9.0,9.0,1.0,0.0,0.0,0.0,0.0
8781,20161231,22,30,NaN,10253,98,9.0,9.0,1.0,1.0,0.0,0.0,0.0
8782,20161231,23,28,NaN,10246,98,6.0,9.0,1.0,1.0,0.0,0.0,0.0
8783,20161231,24,28,26.0,10239,98,2.0,9.0,1.0,0.0,0.0,0.0,0.0

In [19]:
# remove unecessary columns
df.drop(columns="WEATHER_CODE", inplace=True)

In [20]:
df.head()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0

In [21]:
df["MIN_TEMP_GROUND"].fillna(0)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
8779     0.0
8780     0.0
8781     0.0
8782     0.0
8783    26.0
Name: MIN_TEMP_GROUND, Length: 8784, dtype: float64

In [22]:
# if we want to fill empty values with forward values or backward values
# forwards method will fill based on the previous values
df['MIN_TEMP_GROUND'].fillna(method='ffill', inplace=True)

In [23]:
df.head(15)

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0
5,20160101,6,20,3.0,10237,99,9.0,0.0,1.0,0.0,0.0,0.0,0.0
6,20160101,7,11,3.0,10242,99,5.0,0.0,1.0,0.0,0.0,0.0,0.0
7,20160101,8,7,3.0,10245,100,1.0,0.0,1.0,0.0,0.0,0.0,1.0
8,20160101,9,2,3.0,10248,99,2.0,0.0,1.0,0.0,0.0,0.0,1.0
9,20160101,10,20,3.0,10249,100,5.0,0.0,1.0,0.0,0.0,0.0,0.0
10,20160101,11,72,3.0,10245,88,64.0,0.0,1.0,0.0,0.0,0.0,0.0
11,20160101,12,79,-17.0,10239,84,70.0,0.0,0.0,0.0,0.0,0.0,0.0
12,20160101,13,77,-17.0,10231,84,69.0,2.0,0.0,0.0,0.0,0.0,0.0
13,20160101,14,72,-17.0,10225,87,67.0,8.0,0.0,0.0,0.0,0.0,0.0
14,20160101,15,53,-17.0,10220,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# backward methods use values from backwards so it won't leave first 5 rows with NaN
df['MIN_TEMP_GROUND'].fillna(method='bfill', inplace=True)

In [25]:
df.head(15)

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
0,20160101,1,68,3.0,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0
1,20160101,2,58,3.0,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0
2,20160101,3,57,3.0,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0
3,20160101,4,60,3.0,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0
4,20160101,5,45,3.0,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0
5,20160101,6,20,3.0,10237,99,9.0,0.0,1.0,0.0,0.0,0.0,0.0
6,20160101,7,11,3.0,10242,99,5.0,0.0,1.0,0.0,0.0,0.0,0.0
7,20160101,8,7,3.0,10245,100,1.0,0.0,1.0,0.0,0.0,0.0,1.0
8,20160101,9,2,3.0,10248,99,2.0,0.0,1.0,0.0,0.0,0.0,1.0
9,20160101,10,20,3.0,10249,100,5.0,0.0,1.0,0.0,0.0,0.0,0.0
10,20160101,11,72,3.0,10245,88,64.0,0.0,1.0,0.0,0.0,0.0,0.0
11,20160101,12,79,-17.0,10239,84,70.0,0.0,0.0,0.0,0.0,0.0,0.0
12,20160101,13,77,-17.0,10231,84,69.0,2.0,0.0,0.0,0.0,0.0,0.0
13,20160101,14,72,-17.0,10225,87,67.0,8.0,0.0,0.0,0.0,0.0,0.0
14,20160101,15,53,-17.0,10220,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# if we check again , MIN_TEMP_GROUND will have no Null Values anymore
df.isnull().any()

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND    False
PRESSURE           False
HUMIDITY           False
VIEW_RANGE          True
CLOUD               True
MIST                True
RAIN                True
SNOW                True
THUNDER             True
ICE                 True
dtype: bool

In [28]:
# if we want to see null values rows
df[df.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,124.0,10207,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5307,20160809,4,107,124.0,10206,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5308,20160809,5,104,124.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5309,20160809,6,115,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5310,20160809,7,125,95.0,10211,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5311,20160809,8,144,95.0,10217,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5312,20160809,9,148,95.0,10222,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5313,20160809,10,156,95.0,10228,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5314,20160809,11,153,95.0,10230,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5315,20160809,12,161,110.0,10231,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5316,20160809,13,165,110.0,10234,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5317,20160809,14,167,110.0,10233,65,80.0,2.0,NaN,NaN,NaN,NaN,NaN
5596,20160821,5,150,153.0,10107,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5597,20160821,6,160,145.0,10111,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5598,20160821,7,160,145.0,10116,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5599,20160821,8,150,145.0,10122,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5600,20160821,9,165,145.0,10128,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5601,20160821,10,160,145.0,10134,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,20160821,11,180,145.0,10140,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5603,20160821,12,185,150.0,10150,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5604,20160821,13,185,150.0,10158,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5605,20160821,14,190,150.0,10165,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5606,20160821,15,200,150.0,10172,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5607,20160821,16,195,150.0,10175,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5608,20160821,17,190,150.0,10183,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5609,20160821,18,190,175.0,10187,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5610,20160821,19,180,175.0,10194,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5611,20160821,20,180,175.0,10199,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5612,20160821,21,175,175.0,10202,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5613,20160821,22,170,175.0,10202,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5614,20160821,23,170,175.0,10204,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5615,20160821,24,165,160.0,10206,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5616,20160822,1,165,160.0,10205,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617,20160822,2,165,160.0,10204,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5618,20160822,3,170,160.0,10203,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5619,20160822,4,170,160.0,10205,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5620,20160822,5,175,160.0,10206,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5621,20160822,6,177,160.0,10212,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5622,20160822,7,180,160.0,10215,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5623,20160822,8,185,160.0,10220,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5624,20160822,9,185,160.0,10223,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5625,20160822,10,190,160.0,10228,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,20160822,11,193,160.0,10233,88,65.0,8.0,NaN,NaN,NaN,NaN,NaN

In [32]:
# if we want to see misisng by which months and year
df.loc[df.isnull().any(axis=1), "YYYYMMDD"].value_counts()

20160821    20
20160809    12
20160822    11
Name: YYYYMMDD, dtype: int64

In [33]:
# collecting all null values into seperate df
nulls_dropped = df.dropna()

In [34]:
nulls_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8741 entries, 0 to 8783
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YYYYMMDD         8741 non-null   int64
 1   TIME             8741 non-null   int64
 2   TEMP             8741 non-null   int64
 3   MIN_TEMP_GROUND  8741 non-null   float64
 4   PRESSURE         8741 non-null   int64
 5   HUMIDITY         8741 non-null   int64
 6   VIEW_RANGE       8741 non-null   float64
 7   CLOUD            8741 non-null   float64
 8   MIST             8741 non-null   float64
 9   RAIN             8741 non-null   float64
 10  SNOW             8741 non-null   float64
 11  THUNDER          8741 non-null   float64
 12  ICE              8741 non-null   float64
dtypes: float64(8), int64(5)
memory usage: 956.0 KB

In [36]:
# if we look at the data, we can see indexes are out of align
nulls_dropped[5300:5310]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5300,20160808,21,131,169.0,10211,96,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5301,20160808,22,133,169.0,10209,97,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5302,20160808,23,135,169.0,10209,96,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5303,20160808,24,136,124.0,10208,94,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5304,20160809,1,141,124.0,10205,89,70.0,8.0,0.0,0.0,0.0,0.0,0.0
5305,20160809,2,123,124.0,10199,92,65.0,1.0,0.0,0.0,0.0,1.0,0.0
5318,20160809,15,143,110.0,10234,85,59.0,8.0,0.0,1.0,0.0,0.0,0.0
5319,20160809,16,160,110.0,10231,65,80.0,2.0,0.0,1.0,0.0,0.0,0.0
5320,20160809,17,156,110.0,10231,62,80.0,0.0,0.0,0.0,0.0,0.0,0.0
5321,20160809,18,140,135.0,10227,72,75.0,1.0,0.0,0.0,0.0,0.0,0.0

## using thresh 
- thresh allow to set what is the minium thresh level

In [39]:
# here we set thresh level of 7, keeping rows with at least 7 non NA values
# however we see only 5 non NA values are thre
drop_thresh = df.dropna(thresh=7)
drop_thresh[drop_thresh.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5317,20160809,14,167,110.0,10233,65,80.0,2.0,NaN,NaN,NaN,NaN,NaN
5626,20160822,11,193,160.0,10233,88,65.0,8.0,NaN,NaN,NaN,NaN,NaN

# replacing with values

In [40]:
rows_to_fill = df.isnull().any(axis=1)
rows_to_fill

0       False
1       False
2       False
3       False
4       False
        ...
8779    False
8780    False
8781    False
8782    False
8783    False
Length: 8784, dtype: bool

In [41]:
df[rows_to_fill]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,124.0,10207,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5307,20160809,4,107,124.0,10206,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5308,20160809,5,104,124.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5309,20160809,6,115,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5310,20160809,7,125,95.0,10211,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5311,20160809,8,144,95.0,10217,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5312,20160809,9,148,95.0,10222,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5313,20160809,10,156,95.0,10228,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5314,20160809,11,153,95.0,10230,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5315,20160809,12,161,110.0,10231,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5316,20160809,13,165,110.0,10234,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5317,20160809,14,167,110.0,10233,65,80.0,2.0,NaN,NaN,NaN,NaN,NaN
5596,20160821,5,150,153.0,10107,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5597,20160821,6,160,145.0,10111,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5598,20160821,7,160,145.0,10116,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5599,20160821,8,150,145.0,10122,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5600,20160821,9,165,145.0,10128,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5601,20160821,10,160,145.0,10134,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,20160821,11,180,145.0,10140,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5603,20160821,12,185,150.0,10150,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5604,20160821,13,185,150.0,10158,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5605,20160821,14,190,150.0,10165,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5606,20160821,15,200,150.0,10172,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5607,20160821,16,195,150.0,10175,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5608,20160821,17,190,150.0,10183,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5609,20160821,18,190,175.0,10187,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5610,20160821,19,180,175.0,10194,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5611,20160821,20,180,175.0,10199,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5612,20160821,21,175,175.0,10202,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5613,20160821,22,170,175.0,10202,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5614,20160821,23,170,175.0,10204,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5615,20160821,24,165,160.0,10206,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5616,20160822,1,165,160.0,10205,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617,20160822,2,165,160.0,10204,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5618,20160822,3,170,160.0,10203,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5619,20160822,4,170,160.0,10205,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5620,20160822,5,175,160.0,10206,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5621,20160822,6,177,160.0,10212,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5622,20160822,7,180,160.0,10215,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5623,20160822,8,185,160.0,10220,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5624,20160822,9,185,160.0,10223,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5625,20160822,10,190,160.0,10228,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,20160822,11,193,160.0,10233,88,65.0,8.0,NaN,NaN,NaN,NaN,NaN

In [42]:
# we want to fill mean values of data set to those rows with null values
# first, fill the null values with mean
# second, get the values of the previously NA rows 
nulls_filled = df.fillna(df.mean())
nulls_filled[rows_to_fill]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,124.0,10207,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5307,20160809,4,107,124.0,10206,93,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5308,20160809,5,104,124.0,10210,80,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5309,20160809,6,115,95.0,10210,80,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5310,20160809,7,125,95.0,10211,70,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5311,20160809,8,144,95.0,10217,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5312,20160809,9,148,95.0,10222,70,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5313,20160809,10,156,95.0,10228,70,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5314,20160809,11,153,95.0,10230,65,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5315,20160809,12,161,110.0,10231,60,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5316,20160809,13,165,110.0,10234,60,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5317,20160809,14,167,110.0,10233,65,80.000000,2.000000,0.072989,0.20318,0.001602,0.007093,0.016016
5596,20160821,5,150,153.0,10107,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5597,20160821,6,160,145.0,10111,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5598,20160821,7,160,145.0,10116,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5599,20160821,8,150,145.0,10122,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5600,20160821,9,165,145.0,10128,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5601,20160821,10,160,145.0,10134,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5602,20160821,11,180,145.0,10140,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5603,20160821,12,185,150.0,10150,83,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5604,20160821,13,185,150.0,10158,80,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5605,20160821,14,190,150.0,10165,77,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5606,20160821,15,200,150.0,10172,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5607,20160821,16,195,150.0,10175,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5608,20160821,17,190,150.0,10183,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5609,20160821,18,190,175.0,10187,76,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5610,20160821,19,180,175.0,10194,82,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5611,20160821,20,180,175.0,10199,82,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5612,20160821,21,175,175.0,10202,85,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5613,20160821,22,170,175.0,10202,88,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5614,20160821,23,170,175.0,10204,88,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5615,20160821,24,165,160.0,10206,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5616,20160822,1,165,160.0,10205,92,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5617,20160822,2,165,160.0,10204,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5618,20160822,3,170,160.0,10203,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5619,20160822,4,170,160.0,10205,97,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5620,20160822,5,175,160.0,10206,98,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5621,20160822,6,177,160.0,10212,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5622,20160822,7,180,160.0,10215,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5623,20160822,8,185,160.0,10220,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5624,20160822,9,185,160.0,10223,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5625,20160822,10,190,160.0,10228,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5626,20160822,11,193,160.0,10233,88,65.000000,8.000000,0.072989,0.20318,0.001602,0.007093,0.016016

In [44]:
# fill null values with Mode
df.fillna(df.mode().iloc[0], inplace=True)

In [45]:
df.head()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
0,20160101,1,68,3.0,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0
1,20160101,2,58,3.0,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0
2,20160101,3,57,3.0,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0
3,20160101,4,60,3.0,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0
4,20160101,5,45,3.0,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0