
# Quiz #1

Use read_csv() to read in cancer_data.csv and use an appropriate column as the index. Then, use .head() on your dataframe to see if you've done this correctly. Hint: First call read_csv() without parameters and then head() to see what the data looks like.

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("../00.Data/cancer_data.csv", index_col=["id"])

In [8]:
df.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave_points_mean,symmetry_mean,...,radius_max,texture_max,perimeter_max,area_max,smoothness_max,compactness_max,concavity_max,concave_points_max,symmetry_max,fractal_dimension_max
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,NaN,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,NaN,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
84348301,M,11.42,20.38,77.58,386.1,NaN,0.28390,0.2414,0.10520,0.2597,...,14.91,26.50,98.87,567.7,NaN,0.8663,0.6869,0.2575,0.6638,0.17300
84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

# Quiz #2
Use read_csv() to read in powerplant_data.csv with more descriptive column names based on the description of features on this [website](http://archive.ics.uci.edu/ml/datasets/combined+cycle+power+plant). Then, use .head() on your dataframe to see if you've done this correctly. Hint: Like in the previous quiz, first call read_csv() without parameters and then head() to see what the data looks like.

In [15]:
df = pd.read_csv("../00.Data/powerplant_data.csv")
df.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [16]:
col_names = ["Temperature (T)", "Exhaust Vacuum (V)", "Ambient Pressure (AP)", "Relative Humidity (RH)", "Net hourly electrical energy output (EP)"]
df.columns = col_names
df.head()

,Temperature (T),Exhaust Vacuum (V),Ambient Pressure (AP),Relative Humidity (RH),Net hourly electrical energy output (EP)
0,8.34,40.77,1010.84,90.01,480.48
1,23.64,58.49,1011.40,74.20,445.75
2,29.74,56.90,1007.15,41.91,438.76
3,19.07,49.69,1007.22,76.79,453.09
4,11.80,40.66,1017.13,97.20,464.43