<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

# <center> Pandas Options

In [1]:
import pandas as pd

In [2]:
emissions = pd.DataFrame({
    "country":['China','United States','India'],
      "year":['2018','2018','2018'],
      "co2_emissions":[10060000000.0,5410000000.0,2650000000.0]
})

In [4]:
emissions

         country  year  co2_emissions
0          China  2018   1.006000e+10
1  United States  2018   5.410000e+09
2          India  2018   2.650000e+09

# Customizing Pandas Options

## Max Rows
+ maximum number of rows to be displayed

In [5]:
pd.set_option('max_rows', 2)

In [6]:
emissions

   country  year  co2_emissions
0    China  2018   1.006000e+10
..     ...   ...            ...
2    India  2018   2.650000e+09

[3 rows x 3 columns]

-------

## Max Columns
+ maximum number of columns to be displayed. 
+ We can see in between columns are displyaed as ...

In [9]:
pd.set_option('max_columns', 2)

In [10]:
emissions

         country  ... co2_emissions
0          China  ...  1.006000e+10
1  United States  ...  5.410000e+09
2          India  ...  2.650000e+09

[3 rows x 3 columns]

-------

## Float Formatting
+ can change float format display

In [13]:
pd.options.display.float_format = '{:,.2f}'.format

In [14]:
emissions

         country  ...     co2_emissions
0          China  ... 10,060,000,000.00
1  United States  ...  5,410,000,000.00
2          India  ...  2,650,000,000.00

[3 rows x 3 columns]

In [22]:
pd.options.display.float_format = '{:.3f}'.format

In [23]:
emissions

         country  ...   co2_emissions
0          China  ... 10060000000.000
1  United States  ...  5410000000.000
2          India  ...  2650000000.000

[3 rows x 3 columns]