<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

## <center> Top Pandas Functions

In [1]:
import pandas as pd

#### Import CSV with `pd.read_csv()`

In [2]:
df = pd.read_csv('../data/iris.csv')

#### Explore your data

In [4]:
df.shape

(150, 5)

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

#### Datatypes

In [6]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [7]:
df['species'].dtype

dtype('O')

#### Subsetting your data with `loc` & `iloc`

In [9]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
df.loc[3:5]

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [14]:
df.loc[3, 'sepal_width']

3.1

In [15]:
df.iloc[3, 0]

4.6

#### Export your data as csv using `to_csv`

In [17]:
df.to_csv('../data/iris_output.csv', index=False)