# 2) Review of Python's `datetime` Modules

In [3]:
import pandas as pd
import datetime as dt

In [5]:
someday = dt.date(2010, 6, 12)

In [6]:
someday.year, someday.day, someday.month

(2010, 12, 6)

In [13]:
dt.datetime(2010, 6, 12) # default to midnight
dt.datetime(2010, 6, 12, 8, 30, 57) 
dt.datetime(2010, 6, 12, 17, 30, 57)

datetime.datetime(2010, 6, 12, 17, 30, 57)

In [17]:
str(someday)
str(dt.datetime(2010, 6, 12, 17, 30, 57))

'2010-06-12 17:30:57'

In [18]:
sometime = dt.datetime(2010, 6, 12, 17, 30, 57)

In [20]:
sometime.day, sometime.month, sometime.year, sometime.hour, sometime.minute, sometime.second

(12, 6, 2010, 17, 30, 57)

-----

# 3) The `Pandas Timestamp` Object

### using String

In [30]:
# Pandas is very flexible

pd.Timestamp('2020-04-06')
pd.Timestamp('2018-10-12')
pd.Timestamp('2013, 11, 04')
pd.Timestamp('1/1/2020')
pd.Timestamp('19/12/2015')
pd.Timestamp('12/19/2015')
pd.Timestamp('4/3/2020')

pd.Timestamp('2021/03/08 08:35:15')
pd.Timestamp('08-03-2021 6:20:55 PM')

Timestamp('2021-08-03 18:20:55')

### using Python Datetime object

In [32]:
pd.Timestamp(dt.date(2015, 1, 1))
pd.Timestamp(dt.datetime(2020, 4, 6, 18, 23, 45))

Timestamp('2020-04-06 18:23:45')

--------

# 4) The `Pandas DatetimeIndex` Object
+ basically **a collection or container of multiple Pandas Timestamps**
+ what it gonna do is two things: convert into pandas datatime, then store those datetimeindex object.

In [36]:
dates = ['2016/01/02', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [42]:
dates = [dt.date(2015,1,31), dt.date(2021,4,6), dt.date(2003,4,30)]
dtIndex = pd.DatetimeIndex(dates)
dtIndex

DatetimeIndex(['2015-01-31', '2021-04-06', '2003-04-30'], dtype='datetime64[ns]', freq=None)

In [45]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2015-01-31    100
2021-04-06    200
2003-04-30    300
dtype: int64

--------

# 5) The `pd.to_datetime()` Method

In [56]:
pd.to_datetime('2010-12-31')
pd.to_datetime(dt.date(2020, 4, 6))
pd.to_datetime(dt.datetime(2020, 4, 6, 19, 47, 50))
pd.to_datetime(['2015-03-30', '2011/12/31', '2021', 'Apr 6th 2021']) # list of  objects

DatetimeIndex(['2015-03-30', '2011-12-31', '2021-01-01', '2021-04-06'], dtype='datetime64[ns]', freq=None)

### Most Common Real Life Usecase is to convert `Pandas Series to datetime object`.

In [58]:
times = pd.Series(['2015-03-30', '2011/12/31', '2021', 'Apr 6th 2021'])
times

0      2015-03-30
1      2011/12/31
2            2021
3    Apr 6th 2021
dtype: object

In [59]:
pd.to_datetime(times)

0   2015-03-30
1   2011-12-31
2   2021-01-01
3   2021-04-06
dtype: datetime64[ns]

### Common Issues passing

In [62]:
dates = pd.Series(['July 4th, 1996', '10/04/2021', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/04/2021
2             Hello
3        2015-02-31
dtype: object

In [64]:
# will cause ParserError: Unknown string format: Hello
# pd.to_datetime(dates)

### `errors=coerce` will make invalid string and make them NaT (Not a Time), instead of raising an Error

In [65]:
pd.to_datetime(dates, errors='coerce')

0   1996-07-04
1   2021-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

-----

# Unix Time
+ store time in number of seconds

In [67]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit='s') # unit in seconds

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

------

# 6) Create Range of Dates with the `pd.date_range()` Method, Part 1

### `freq` parameter
+ `D`: Day
+ `2D`: 2 Days

In [70]:
times = pd.date_range(start='2016-01-01', end='2016-01-10', freq='D') # frequency is Day
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [71]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [73]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

### 2 days increment

In [75]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

### Business Days `B`
+ skipping the weekend

In [76]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

### Week `W`

Here we can see it starts with the week of 2016-01-03 which is not the start of the date that we specified.

This is because 1st Jan is Friday and Week starts with Sunday (W-SUN). So it skipped to first Sunday to start the week and next Sunday is 10th Jan.

However the subsequence Sunday 17th Jan is not included because it is not within our specified range.

In [77]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

We can change this.

In [78]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

### Hours `H`

In [81]:
pd.date_range(start='2016-01-01', end='2016-01-10', freq='H')
pd.date_range(start='2016-01-01', end='2016-01-10', freq='6H')
pd.date_range(start='2016-01-01', end='2016-01-10', freq='12H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 12:00:00',
               '2016-01-02 00:00:00', '2016-01-02 12:00:00',
               '2016-01-03 00:00:00', '2016-01-03 12:00:00',
               '2016-01-04 00:00:00', '2016-01-04 12:00:00',
               '2016-01-05 00:00:00', '2016-01-05 12:00:00',
               '2016-01-06 00:00:00', '2016-01-06 12:00:00',
               '2016-01-07 00:00:00', '2016-01-07 12:00:00',
               '2016-01-08 00:00:00', '2016-01-08 12:00:00',
               '2016-01-09 00:00:00', '2016-01-09 12:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='12H')

## Month `M`

In [83]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

## Month Start `MS`
+ give me the start of the month

In [87]:
pd.date_range(start='2016-01-01', end='2016-12-31', freq='MS')
pd.date_range(start='2016-01-01', end='2017-01-01', freq='MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

## Year End `A`

In [88]:
pd.date_range(start='2016-01-01', end='2050-01-01', freq='A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

--------

# 7) Create Range of Dates with the `pd.date_range()` Method, Part 2