In [1]:
import numpy as np
import pandas as pd

In [6]:
# help(pd.Series)

In [7]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [2020, 1990, 1800]

# Panda Series
- numpy use `numeric numbers` for index
- as panda is built on top of numpy, the additional functionlity is `axis label` (`label index`). panda allows to use both `string + numeric or any type of object`.  for index

In [8]:
# creating series using data only
myseries = pd.Series(data=mydata)

In [9]:
myseries

0    2020
1    1990
2    1800
dtype: int64

In [10]:
type(myseries)

pandas.core.series.Series

In [14]:
# also including index
myseries = pd.Series(data=mydata, index=myindex)

# myseries = pd.Series(mydata, imyindex) # as long as you are passing in correct position, it is fine.

In [15]:
myseries

USA       2020
Canada    1990
Mexico    1800
dtype: int64

In [16]:
myseries[0]

2020

In [17]:
myseries['USA']

2020

### using dictionary to create panda
- panda is smart enough to change dictionary key as `label index`

In [18]:
ages = {
    'Sam' : 5,
    'Frank' : 9,
    'Spike': 7
}

In [19]:
pd.Series(ages)

Sam      5
Frank    9
Spike    7
dtype: int64

--------

# Exercise

<p>TASK: Employee expenses are being stored in an pandas Series called <strong>expenses</strong>. What are Bob's expenses? You should use Pandas for this, don't just manually write in the number. The solution should be quite simple. Assign your answer to a variable called <strong>bob_expense</strong>. Please note, in order for the exercise to evaluate correctly, you <strong>must use the variable name bob_expense.</strong></p>

In [24]:
# TASK: Use pandas to grab the expenses paid by Bob.
# MAKE SURE TO READ THE FULL INSTRUCTIONS ABOVE CAREFULLY, AS THE EVALUATION SCRIPT IS VERY STRICT.

import pandas as pd
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

# bob_expense = # Use pandas, don't just manually write in the number here.
bob_expense = expenses['Bob']
print(bob_expense)

150

-----------

# Panda Series - Operations

In [25]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [26]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [27]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [28]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [29]:
sales_q1['USA']

250

In [30]:
sales_q1[0]

80

In [32]:
# grabbing keys of series
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

## Opearation between 2 series
- as pandas support broadcasting, we can easily make computational operations between series
- it takes `label index` into account

In [35]:
# but pandas is not smart enough on default one, we can see Brazil has missing values (as q2 Brazil has no value)
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [46]:
# instead we will use add method
first_half = sales_q1.add(sales_q2, fill_value=0)
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [40]:
sales_q1.subtract(sales_q2, fill_value=0)

Brazil   -100.0
China     -50.0
India     -10.0
Japan      80.0
USA       -10.0
dtype: float64

In [41]:
sales_q1.multiply(sales_q2, fill_value=1)

Brazil       100.0
China     225000.0
India      42000.0
Japan         80.0
USA        65000.0
dtype: float64

In [42]:
sales_q1.multiply(sales_q2, fill_value=1)

Brazil       100.0
China     225000.0
India      42000.0
Japan         80.0
USA        65000.0
dtype: float64

In [44]:
sales_q1.dtype

dtype('int64')

In [47]:
first_half.dtype

dtype('float64')

--------