# Text Methods

In [1]:
import numpy as np
import pandas as pd

In [2]:
email = 'user@gmail.com'

In [3]:
email.split('@')

['user', 'gmail.com']

In [11]:
email.isdigit()

False

In [12]:
'3'.isdigit()

True

# Text Methods on Pandas String Column

In [7]:
names = pd.Series(['ariana', 'bob', 'claire', 'david', '5'])

In [8]:
names

0    ariana
1       bob
2    claire
3     david
4         5
dtype: object

In [9]:
names.str.upper()

0    ARIANA
1       BOB
2    CLAIRE
3     DAVID
4         5
dtype: object

In [13]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [15]:
names[names.str.isdigit() == True]

4    5
dtype: object

# Splitting , Grabbing, and Expanding

In [23]:
tech ='GOOG,APPL,AMZN'

In [26]:
tech.split(',')[0]

'GOOG'

------

In [16]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [17]:
len(tech_finance)

2

In [18]:
tickers = pd.Series(tech_finance)

In [19]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [22]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [28]:
tickers.str.split(',')[0][2]

'AMZN'

## Expanding the list into DataFrame
- same number of items columns

In [29]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

------

# Cleaning or Editing Strings

In [30]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [31]:
messy_names[0]

'andrew  '

In [44]:
# cleaning out ; on bobo Then stripping out extra white space
messy_names.str.replace(';', '').str.strip()

0    andrew
1      bobo
2    claire
dtype: object

In [47]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

--------

# Alternative with Custom apply() call

In [52]:
def clean_up(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name.capitalize()
    return name

In [53]:
messy_names.apply(clean_up)

0    Andrew
1      Bobo
2    Claire
dtype: object

----------

# Which one is more efficient?

In [55]:
import timeit 
  
# code snippet to be executed only once 
setup = '''
import pandas as pd
import numpy as np
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name
'''
  
# code snippet whose execution time is to be measured 
stmt_pandas_str = ''' 
messy_names.str.replace(";","").str.strip().str.capitalize()
'''

stmt_pandas_apply = '''
messy_names.apply(cleanup)
'''

stmt_pandas_vectorize='''
np.vectorize(cleanup)(messy_names)
'''

In [56]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_str, 
                    number = 10000)

8.177834176000033

In [57]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_apply, 
                    number = 10000)

2.546160805999989

In [58]:
timeit.timeit(setup = setup, 
                    stmt = stmt_pandas_vectorize, 
                    number = 10000)

0.6849732910000057