In [1]:
import pandas as pd

In [5]:
delays_df = pd.read_csv("Data/Lots_of_flight_data.csv")
delays_df.head()

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,2018-10-01,WN,N221WN,802,ABQ,BWI,905,903.0,-2.0,1450,1433.0,-17.0,225,210.0,197.0,1670
1,2018-10-01,WN,N8329B,3744,ABQ,BWI,1500,1458.0,-2.0,2045,2020.0,-25.0,225,202.0,191.0,1670
2,2018-10-01,WN,N920WN,1019,ABQ,DAL,1800,1802.0,2.0,2045,2032.0,-13.0,105,90.0,80.0,580
3,2018-10-01,WN,N480WN,1499,ABQ,DAL,950,947.0,-3.0,1235,1223.0,-12.0,105,96.0,81.0,580
4,2018-10-01,WN,N227WN,3635,ABQ,DAL,1150,1151.0,1.0,1430,1423.0,-7.0,100,92.0,80.0,580

# 1) break down data into X (features), y(target/label) data set
- x: input
- y: predit or output

In [7]:
X = delays_df.loc[:, ["DISTANCE", "CRS_ELAPSED_TIME"]]
X.head()

   DISTANCE  CRS_ELAPSED_TIME
0      1670               225
1      1670               225
2       580               105
3       580               105
4       580               100

In [8]:
y = delays_df.loc[:, ["ARR_DELAY"]]
y.head()

   ARR_DELAY
0      -17.0
1      -25.0
2      -13.0
3      -12.0
4       -7.0

# 2) Split into Training and Testing Data

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
                                                                            X,
                                                                            y,
                                                                            test_size = 0.3,
                                                                            random_state = 42
                                                                        )

In [12]:
X_train.shape

(210000, 2)

In [13]:
X_test.shape

(90000, 2)

In [14]:
y_train.shape

(210000, 1)

In [15]:
y_test.shape

(90000, 1)

In [16]:
y_train.head()

        ARR_DELAY
186295       -7.0
127847      -16.0
274740      -10.0
74908       -19.0
11630       -13.0

In [17]:
X_train.head()

        DISTANCE  CRS_ELAPSED_TIME
186295       237                60
127847       411               111
274740       342                85
74908       1005               164
11630        484               100